<!DOCTYPE html>
<html>
<head>
    <title>How to Export IMDb Lists</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<a href="/" class="back-link fixed-back">← Back</a>

<div class="instructions-container">

    <h1>How to Export IMDb Lists as CSV</h1>

    <p>Follow these steps to export any IMDb list (Watchlist, custom list, ratings, etc.):</p>

    <ol>
        <li>Head to <a href="https://www.imdb.com/" target="_blank">IMDb</a> in a browser and open any of your IMDb lists (e.g., your Watchlist).
            <ul>
            <li>Make sure your list contains films/TV shows - it does not work for lists of people, for instance.</li>
            <li>Find your Watchlist by simply clicking on the <strong>Watchlist</strong> icon in the top right. If this icon isn't there, click on your <strong>profile name</strong> dropdown in the top right, then <strong>Your Watchlist</strong>.</li>
            <li>For any of your other lists, find them by clicking on your <strong>profile name</strong> dropdown in the top right, then <strong>Your lists</strong>.</li>
            </ul>
        </li>
        <li>On your list page, Select <strong>⭳ Export</strong> in the top right.</li>
        <li>You should now be prompted to <strong>Open exports page</strong>. Simply select this.
            <ul>
            <li>If you don't see this prompt, simply scroll down on the page and you should see <strong>Your exports &gt</strong> in the right-hand column or at the bottom of the page - simply click on this.
                <ul>
                <li>If you don't see <strong>Your exports &gt</strong> either, scroll back up and click <strong>⭳ Export</strong> again.</li>
                </ul>
            </li>
            </ul>
        </li>
        <li>On your exports page, simply click the <strong>Ready ⭳</strong> icon next to your desired list, and choose a place to dowload this CSV file if prompted.</li>
    </ol>

    <p>
        Once you have downloaded your CSV file, return to the
        <a href="/">main page</a> to upload it.
    </p>

</div>

<p style="text-align:center; color:#777; font-size:0.8rem; margin-top:40px;">
    This site is not endorsed by, and has no affiliation with, either IMDb or TMDB.
</p>

</body>
</html>
